.main {
  box-sizing: border-box;
}

.app-container {
  padding: 15px;
}

.controller-container {
  margin-left: 15px;
}

.video-container {
  button {
    margin-left: 5px;
  }
}

.object-container {
  button {
    margin-left: 5px;
  }
}


.main-canvas-wrapper {
  .panel-body {
    padding: 0;
  }
}

.video-properties {
  button {
    margin-left: 5px;
  }
}
.image-properties {
  button {
    margin-left: 5px;
  }
}