body {
  background-color: #ccc;
}

.main {
  box-sizing: border-box;
}

.app-container {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.controller-container {
  margin-left: 15px;
}

.video-container {
  button {
    margin-left: 5px;
  }
}

.object-container {
  button {
    margin-left: 5px;
  }
}

.main-canvas-wrapper {
  .panel-body {
    padding: 0;
  }
}

.video-properties {
  button {
    margin-left: 5px;
  }
}

.image-properties {
  button {
    margin-left: 5px;
  }
}

.file-upload-control {
  button {
    margin-left: 5px;
  }
}

.preview-before-upload {
  padding: 15px;
}

.icon-button {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    background-position: center;
  }
  &.active:hover {
    background-position: center;
  }
  &:focus:hover {
    background-position: center;
  }
  &:focus {
    background-position: center;
  }
}
.arrangement-center-button {
  background-image: url(../assets/icons/screen_center.png) !important;;
}
.arrangement-left-button {
  background-image: url(../assets/icons/screen_left.png) !important;;
}
.arrangement-right-button {
  background-image: url(../assets/icons/screen_right.png) !important;;
}
.arrangement-top-button {
  background-image: url(../assets/icons/screen_top.png) !important;;
}
.arrangement-bottom-button {
  background-image: url(../assets/icons/screen_bottom.png) !important;;
}

.bring-to-front-button {
  background-image: url(../assets/icons/layer_top.png);
}
.send-to-back-button {
  background-image: url(../assets/icons/layer_bottom.png);
}
.bring-forward-button {
  background-image: url(../assets/icons/layer_up.png);
}
.send-backwards-button {
  background-image: url(../assets/icons/layer_down.png);
}